@tailwind base;
@tailwind components;
@tailwind utilities;

/* google fonts  */
.cinzel-font {
    font-family: 'Cinzel', serif;
}

.inter-font {
    font-family: 'Inter', sans-serif;
}

.raleway-font {
    font-family: 'Raleway', sans-serif;
}